{
  "presets": [
    "latest-minimal",
    "react"
  ],
  "env": {
    "coverage": {
      "presets": [
        "latest-minimal",
        "react"
      ],
      "plugins": [
        ["istanbul", {
          "exclude": [
            "test/**/*.js"
          ]
        }]
      ]
    }
  }
}
