{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-react-jsx-source"
  ],
  "env": {
    "coverage": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "test/**/*.js"
            ]
          }
        ]
      ]
    }
  }
}
