{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "env": {
    "coverage": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "react"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
