@font-face {
  font-family: 'AmbleLight';
  src: url('../assets/fonts/amble-light-webfont.woff2') format('woff2'), url('../assets/fonts/amble-light-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Amble';
  src: url('../assets/fonts/amble-regular-webfont.woff2') format('woff2'), url('../assets/fonts/amble-regular-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
