$purple: rgb(123, 0, 81);
$red: rgb(255, 90, 95);
$light-red: rgba($red, 0.2);
$yellow: rgb(253, 179, 43);
$gold: rgb(180, 167, 108);
$blue: rgb(56, 151, 240);
$turquoise: rgb(85, 222, 211);
$green: rgb(0, 166, 153);
$aqua: rgb(0, 122, 135);
$black: rgb(72, 72, 72);
$gray: #808080;
$light-gray: #d3d3d3;
$white: #fdfff9;
